/*! Place your custom styles here */

.menu-logo.image--xxs {
    max-height: 4.857143em !important;
}

a.btn.btn--primary.type--uppercase.menu-tab {
    display: block;
    margin-top: 21px;
}

#section5 .feature-4 p:last-of-type {
    margin-bottom: 0.714286em;
}

.lead + form {
    margin-top: 1.785714em;
    margin-bottom: 2.785714em;
}

.feature.feature-4.boxed.boxed--lg.boxed--border.feature-box {
    min-height: 400px;
}

.btn--special .btn__text, .btn--special:visited .btn__text {
    color: #fff;
}


@media (min-width: 768px)
.col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}
